<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Complication - FortuneCookie WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>FortuneCookie WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>FortuneCookie.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Glance - FortuneCookie WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>Notification - FortuneCookie WatchKit App.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F8AF8A0B1BA5E5CC00FB0BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AF8A1F1BA5E5CC00FB0BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AF8A2A1BA5E5CC00FB0BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F8AF8A331BA5E5CC00FB0BAB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
